/* ------------------------------------------------*/
/*                       CSS                       */
/* ------------------------------------------------*/
.mainContent{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    background: url(../images/bg1.png);
    background-repeat: repeat;
}

.mainContent .row{
    margin: 0;
    width: 70%;
    margin-left: 30px;  
}

.spacing{
    margin-top: 40px;
    margin-bottom: 40px;
}

.separate{
    border-bottom: 0.1244em dashed rgba(202, 202, 202, 0.41);
}

.title{
    text-align: center;
    font-size: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    border-color: #0f6d75;
}

.contactInfo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 75%;
    color:grey;
}

.footerCategory{
    color:black;
}

.shareButtons{
    text-align: right;
}

.center{
    text-align: center;
}

.infomsg,.errormsg{
    text-align: center;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-width: 2px;    
    border-radius: 4px;    
}

.infomsg{
    border-color: #2B547E;
    background-color: #98AFC7;
}

.errormsg{
    border-color: #C11B17;
    background-color: #F75D59;
}

.warning{
    padding-bottom: 10px;
    padding-top: 10px;
}

.log{
    float: right;
    width: 20%;
}

.input-field, .input-area, .input-field-login{
    width: 100%;
    margin-bottom:10px;
    border-style: solid;
    border-width: 1px;
    border-color: #B2B2B2;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.input-field-ok{
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.input-message-ok, .pass-strong{
    border-color:#00FF00;
    background-color:#BCE954;
}

.input-message-error, .pass-weak{
    border-color:#FF0000;
    background-color:#F75D59;
}

.pass-medium{
    border-color:#F88017;
    background-color:#FF7F50;
}

.disabled{
    opacity: 0.5;
}

.area-label{
    padding:20px;
    vertical-align: middle;
}

.checkbox{
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

.row {
    margin-left: 30%;
    margin-right: 30%;
}

.row-buttons{
    margin-top: 20px;
    text-align: center;
}

.row-element{
    width: 80%;
}

input[type="radio"]{
    margin-bottom: 10px;
}

input[type="date"]{
    width: 60%;
}

.label{
    margin-bottom: 5px;
    font-family: Tahoma, Geneva, sans-serif;
}

#show-username{
    text-align: right;
    padding-right: 15px;
    margin-bottom: 10px;
    font-family: Tahoma, Geneva, sans-serif;
}

#pass-strength, #checkUser, #insPass, #pass-match,.no-input{
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 4px 4px 4px 8px;
    margin-left: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

#last-check{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color:red;
    background-color: #E77471;
    font-size: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 0px 10px 0px;
}

#printReportForm{
    margin-bottom: 15px;
}

#calendar{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#script-disabled, #cookie-disabled{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#search-pat,#insert-pat{
    width: 15%;
    padding: 10px;
    margin-bottom: 10px;
}

#search{
    width: 30%;
}

#patient-detail{
    width: 50%;
}

#patient-detail tr:first-child td:first-child{
    width: 30%;
}

#report-fields{
    width: 20%;
}

#patient-checks{
    width: 25%;
}

#servicesTitle{
    padding: 0px;
}